/* Spécifique à la page de recherche */

.search-bar {
  margin: 2rem auto;
  display: flex;
  max-width: 600px;
  width: 100%;
  gap: 0.5rem;
}

.search-bar input[type="text"] {
  flex-grow: 1;
  padding: 0.7rem;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
}

.search-bar button {
  background-color: #e3b5ff;
  color: #000;
  border: none;
  padding: 0.7rem 1.2rem;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.results-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1.5rem;
  justify-items: center;
  margin-top: 2rem;
}