/* signup.css */
body {
  background-color: #0a0a0a;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h2 {
  font-size: 32px;
  margin-bottom: 5px;
}

p {
  font-size: 16px;
  color: #ccc;
  margin-bottom: 30px;
}

p span {
  color: #cfa0e9;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
}

label {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  color: #bbb;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 12px;
  border: none;
  border-radius: 12px;
  background: #d3d3d3;
  font-size: 14px;
  color: #000;
}

input[type="submit"] {
  padding: 12px;
  border: none;
  border-radius: 12px;
  background-color: #d3afd3;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #b07eb3;
}

.footer {
  margin-top: 20px;
  font-size: 14px;
}

.footer a {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

.footer a:hover {
  color: #d3afd3;
}
