<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>ReadList - Login</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body class="{{ 'light' if theme == 'light' else '' }}">

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flash-messages">
      {% for category, message in messages %}
        {% if category == 'error' %}
          <li class="{{ category }}">{{ message }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

  <div class="title">READLIST</div>
  <div class="logo">📖</div>
  <div class="subtitle">Read it. Rate it. Share it.</div>

  <form method="POST" action="{{ url_for('auth.login') }}">
    {{ form.hidden_tag() }}
    {{ form.email(class_="input-field", placeholder="EMAIL", autocomplete="username") }}
    {{ form.password(class_="input-field", placeholder="PASSWORD", autocomplete="current-password") }}
    <button type="submit">LOG IN</button>
  </form>
  <div class="signup">
    Don’t have a account ? <a href="{{ url_for('auth.signup') }}">SIGNUP</a>
  </div>
</body>

</html>